{{/*
SPDX-FileCopyrightText: 2021 Nguyen Hung Phu <phuhnguyen@disroot.org>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ $index := .index }}
{{ with .post }}
{{ if eq $index 0 }}
<h3>{{ partial "fn/i18n_time" (dict "time" .Params.date "format" (i18n "date-format")) }}</h3>
{{ else }}
  {{ $p := .NextInSection }}
  {{ if not (and (eq $p.Date.Year .Date.Year) (eq $p.Date.Month .Date.Month) (eq $p.Date.Day .Date.Day))}}
  <h3>{{ partial "fn/i18n_time" (dict "time" .Params.date "format" (i18n "date-format")) }}</h3>
  {{ end }}
{{ end }}
{{ end }}
